NODE_ENV=development
PORT=4000

DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=
REFRESH_TOKEN_SECRET=

CORS_ORIGIN=http://localhost:4200

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
